{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}
<!-- Confirm Delete Event Page -->
<div class="container">
    <!-- Page Title Row -->
    <div class="row m-0">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Events</h2>
    </div>
    </div>
    <!-- Main Content -->
    <div class="row m-0">
        <div class="col-10 offset-1 mt-5">
            <h1>Are you sure you want to delete {{ event.name }}?</h1><br>
            <a href="{% url 'delete_event' event.id %}"><div class="btn btn-danger">Delete</div></a>
            <a href="{% url 'events' %}"><div class="btn btn-primary">Cancel</div></a>
        </div>
    </div>
</div>
{% endblock %}