{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block page_header %}
{% endblock %}
{% block content %}
<!-- Bag Page -->
<div class="container">
   <!-- Page Title Row -->
   <div class="row">
      <div class="col">
         <hr class="hr-event">
         <h2 class="logo-font mb-4">Cart</h2>
         <hr class="hr-event">
      </div>
   </div>
   <!-- Main Content Row -->
   <div class="row">
      <div class="col">
         <!-- If Bag Has Items -->
         {% if bag_items %}
         <div class="table-responsive rounded">
            <!-- Table For Bag Items -->
            <table class="table table-sm table-borderless">
               <!-- Table Head -->
               <thead class="text-white">
                  <tr>
                     <th class="hide-s" scope="col"></th>
                     <th scope="col">Event</th>
                     <th scope="col">Price</th>
                     <th scope="col">Qty</th>
                     <th scope="col">Subtotal</th>
                  </tr>
               </thead>
               <!-- Display Bag Items In Table -->
               {% for item in bag_items %}
               <tr class="bag-table">
                  <td class="p-3 w-25 hide-s">
                     <!-- Event Image -->
                     {% if item.event.image %}
                     <img class="img-fluid rounded" alt="{{ item.event.name }}" src="{{ item.event.image.url }}">
                     <!-- If No Image, Display noimage.png -->
                     {% else %}
                     <img class="img-fluid rounded" src="https://res.cloudinary.com/dlqh66keo/image/upload/v1647210739/Langs/images/noimage.png" alt="{{ item.event.name }}">
                     {% endif %}
                  </td>
                  <td class="py-3">
                     <!-- Event Name -->
                     <p class="my-0 smaller text-white"><strong>{{ item.event.name }}</strong></p>
                     <!-- Event Date -->
                     <p class="my-0 small text-white">Date: {{ item.event.date }}</p>
                  </td>
                  <td class="py-3">
                     <!-- Event Price -->
                     <p class="my-0 text-white">£{{ item.event.price }}</p>
                  </td>
                  <td class="py-3 w-25">
                     <!-- Quantity Input Selector Form -->
                     <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <!-- Decrement Quantity Input Selector -->
                                 <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                    <span>
                                       <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                 </button>
                              </div>
                              <!-- Quantity Input Selector -->
                              <input readonly class="form-control form-control-sm qty_input text-dark" type="number"
                                 name="quantity" value="{{ item.quantity }}" min="1" max="{{item.event.quantity}}"
                                 data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                              <div class="input-group-append">
                                 <!-- Increment Quantity Input Selector -->
                                 <button class="increment-qty btn btn-sm btn-black rounded-0"
                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                    <span>
                                       <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <!-- Quantity Available -->
                        <p class="text-white">Available: {{ item.event.quantity }}</p>
                     </form>
                     <!-- Update Quantity -->
                     <a class="btn update-link text-info"><small class="text-info">Update</small></a>
                     <!-- Remove From Bag -->
                     <a class="btn remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small
                           class="text-danger">Remove</small></a>
                  </td>
                  <td class="py-3">
                     <!-- Subtotal -->
                     <p class="my-0 text-white">£{{ item.event.price | calc_subtotal:item.quantity }}</p>
                  </td>
               </tr>
               {% endfor %}
               <tr>
                  <td colspan="5" class="pt-5 text-right">
                     <!-- Bag Total -->
                     <h4 class="mt-4 text-white"><strong>Total: £{{ total|floatformat:2 }}</strong></h4>
                  </td>
               </tr>
               <tr>
                  <td colspan="5" class="text-right">
                     <!-- Back To Events -->
                     <a href="{% url 'events' %}" class="btn rounded-0 btn-lg">
                        <span class="icon text-white">
                           <i class="fas fa-chevron-left text-white"></i>
                        </span>
                        <span class="text-uppercase text-size text-white">Back to Events</span>
                     </a>
                     <!-- Secure Checkout / To Checkout -->
                     <a href="{% url 'checkout' %}" class="btn border-white rounded-0 btn-lg">
                        <span class="text-uppercase text-size text-white">Secure Checkout</span>
                        <span class="icon">
                           <i class="fas fa-lock text-white"></i>
                        </span>
                     </a>
                  </td>
               </tr>
            </table>
         </div>
         <!-- If Bag Is Empty -->
         {% else %}
         <p class="lead mb-5">Your bag is empty.</p>
         <!-- Back To Events -->
         <a href="{% url 'events' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
               <i class="fas fa-chevron-left text-white"></i>
            </span>
            <span class="text-uppercase text-white">Back to Events</span>
         </a>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<!-- Quantity Input Script -->
{% include 'events/includes/quantity_input_script_bag.html' %}
<script>
   // Update quantity on click
   $('.update-link').click(function (e) {
      var form = $(this).prev('.update-form');
      form.submit();
   })

   // Remove item and reload on click
   $('.remove-item').click(function (e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr('id').split('remove_')[1];
      var url = `/bag/remove/${itemId}/`;
      var data = {
         'csrfmiddlewaretoken': csrfToken
      };

      $.post(url, data)
         .done(function () {
            location.reload();
         });
   })
</script>
{% endblock %}