{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <div class="my-5">
                    <h4>
                        <a href="" class="button-1 btn btn-lg rounded-0 text-uppercase py-3">Evening Table Booking's</a>
                        <a href="" class="button-2 btn btn-lg rounded-0 text-uppercase py-3">VIP Booth Booking's</a>
                        <a href="" class="button-3 btn btn-lg rounded-0 text-uppercase py-3">Brunch & Events Calendar</a>
                        <a href="" class="button-4 btn btn-lg rounded-0 text-uppercase py-3">Contact Us</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}