{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Where to find Langs</h2>
            <hr>
        </div>
    </div>
    <div class="row text-center p-2">
            <p>Langs is located opposite the Sittingbourne train station on the mini roundabout. 
            You have access by train, taxi or car park, with town center a short walk away.
            </p>
            <a href="https://www.google.co.uk/maps/dir//langs+bar/@51.3378816,0.7268402,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47df2ab39830d9a1:0x59db5d89f16b3159!2m2!1d0.7354092!2d51.341522" target="_blank">
            <img id="langs-front" class="m-auto" src="/media/langs_map.png" alt="Langs Map">
            </a>
    </div>
</div>
{% endblock %}