html {
    height: 100%;
    background-color: #030509;
}

body {
    background-color: #030509;
    background-size: cover;
    height: calc(100vh);
    color: white;
    font-family: 'Quicksand';
}

nav {
    border-bottom: 1px solid white;
}

.nav-item {
    margin: 15px 20px;
    text-align: center;
}

.nav-link {
    transition: 0.7s;
}

.nav-link:hover {
    transform: scale(1.2);
}

.dark {
    background-color: #030509;
}

.dark:hover {
    background-color: #030509;
}

.fa-home {
    font-size: 2em;
}
/* -------------------------------- Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 0.8em;
    border-top: 1px solid white;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: grey;
    text-decoration: none;
}

/* -------------------------------- index Page */
.responsive {
    max-width: 100%;
    height: auto;
  }

/* -------------------------------- VIP Page */
.vip-h2 {
    margin-bottom: 30px;
}
.anyClass {
    height:700px;
    overflow-y: scroll;
    
  }
  .anyClass::-webkit-scrollbar {
    width: 11px;
  }
  
  .anyClass::-webkit-scrollbar-track {
    background: white;
  }
  
  .anyClass::-webkit-scrollbar-thumb {
    background-color: #030509;
    border-radius: 6px;
    border: 3px solid white;
  }

  .vip-date-btn {
      margin-bottom: 5px;
      width: 300px;
  }

  .date-picker {
      margin: 50px auto;
      width: 100px;
      text-align: center;
  }

/* -------------------------------- Menus */
.slider-div {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* -------------------------------- Media Queries */
@media (min-width: 100px) {
    .langs-image {
        margin-top: 100px;
    }
    .vip-edit {
        display: none;
    }
    .responsive-menu {
        max-width: 350px;
        height: auto;
        margin: auto;
    }
    .slider-div {
        margin-top: 100px;
    }
}

@media (min-width: 990px) {
    .langs-image {
        margin-top: 150px;
    }

    .footer {
        font-size: 1em;
    }
    .vip-edit {
        display: contents;
    }
    .img-vip {
        margin: auto;
    }
    .responsive-menu {
        max-width: 500px;
    }
    .slider-div {
        margin-top: 0;
    }
}

@media (min-width: 991px) {

}

@media (min-width: 1080px) {
    .vip-text {
        width: 75%;
        text-align: center;
        margin: auto;
    }
    .text-top {
        margin-top: 50px;
    }
}
