html {
    height: 100%;
    background-color: #030509;
}

body {
    background-color: #030509;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Quicksand';
}

nav {
    background-color: #030509;
}

.nav-item {
    border: 1px solid #fff;
    margin: 15px 5px;
    text-align: center;
}

.nav-link {
    transition: 0.7s;
}

.nav-link:hover {
    transform: scale(1.2);
}

.logo-font {
    margin: auto;
    padding: 20px 20px;
}

#main-account {
    background-color: #030509;
}

.account-link {
    text-align: center;
    list-style-type: none;
    margin: 5px 5px;
}

/* -------------------------------- index Page */

.langs-image {
    background: url('/media/langs.jpeg') no-repeat center center fixed;
}

/* -------------------------------- Media Queries */

@media (min-width: 990px) {
    .logo-font {
        width: 200px;
        font-size: 0.8em;
    }
    }

@media (min-width: 1080px) {
.logo-font {
    width: 250px;
}
}
