<div class="container" id="main-account">
    <ul class="row float-right">
       {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <li class="account-link col col-lg-2">
            <a class="font-weight-bold nav-link text-white" href="#" id="admin-panel">
               <i class="fas fa-user-cog"></i>
            </a>
        </li>
        {% endif %}
       <li class="account-link">
          <a class="font-weight-bold nav-link text-white" href="#" id="my-profile">
            <i class="far fa-user-circle"></i>
          </a>
       </li>
       <li class="account-link">
          <a class="font-weight-bold nav-link text-white" href="{% url 'account_logout' %}" id="log-out">
            <i class="fas fa-sign-out-alt"></i>
          </a>
       </li>
       {% else %}
       <li class="account-link">
          <a class="font-weight-bold nav-link text-white" href="{% url 'account_login' %}" id="log-in">
            <i class="fas fa-sign-in-alt"></i>
          </a>
       </li>
       <li class="account-link">
          <a class="font-weight-bold nav-link text-white" href="{% url 'account_login' %}" id="register">
            <i class="fas fa-user-plus"></i>
          </a>
       </li>
       {% endif %}
    </ul>
 </div>