<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li {% if request.path != '' %} style="display: none;" {% endif %} class="nav-item">
      <a {% if request.path != '' %} style="display: none;" {% endif %} class="logo-font font-weight-bold nav-link text-white" href="#" id="all-products-link">
      Home
      </a>
    </li>
  <ul class="navbar-nav w-auto mx-auto">
     <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-white" href="#" id="evening">
        Evening Table Booking's
        </a>
     </li>
     <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-white" href="#" id="vip-booking">
        VIP Booth Booking's
        </a>
     </li>
     <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-white" href="#" id="brunch-link">
        Brunch Events & Calendar
        </a>
     </li>
     <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-white" href="#" id="contact-link">
        Contact Us
        </a>
     </li>
  </ul>
</div>