<div class="container d-flex justify-content-center" id="main-account">
    <ul class="row">
        <li class="col col-lg-2 secondary-nav">
            <a class="font-weight-bold nav-link text-white" href="#" id="menus">
               Menu's
            </a>
        </li>
       <li class="secondary-nav">
          <a class="font-weight-bold nav-link text-white" href="#" id="location">
            Location
          </a>
       </li>
       <li class="secondary-nav">
          <a class="font-weight-bold nav-link text-white" href="#" id="opening">
            Opening Times
          </a>
       </li>
       <li class="secondary-nav">
          <a class="font-weight-bold nav-link text-white" href="#" id="dress-code">
            Dress Code
          </a>
       </li>
    </ul>
 </div>