<div class="container d-flex justify-content-center responsive" id="secondary-account">
    <ul class="row justify-content-center">
        <li class="secondary-nav responsive">
            <a class="font-weight-bold nav-link text-white responsive" href="#" id="menus">
               Menu's
            </a>
        </li>
       <li class="secondary-nav responsive">
          <a class="font-weight-bold nav-link text-white responsive" href="#" id="location">
            Location
          </a>
       </li>
       <li class="secondary-nav responsive">
          <a class="font-weight-bold nav-link text-white responsive" href="#" id="opening">
            Opening Times
          </a>
       </li>
       <li class="secondary-nav responsive">
          <a class="font-weight-bold nav-link text-white responsive" href="#" id="dress-code">
            Dress Code
          </a>
       </li>
    </ul>
 </div>