{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}
<!-- Dress Code Page -->
<div class="container">
   <!-- Page Title Row -->
   <div class="row">
      <div class="col">
         <hr>
         <h2 class="logo-font mb-4 text-center">Dress Code</h2>
         <hr>
      </div>
   </div>
   <!-- Main Content Row -->
   <div class="row mt-5">
      <p class="m-auto p-3">
         - Venue Dress Code & Age Restriction
         <br>
         - <span class="text-danger">Strictly</span> Over 21s
         <br>
         - Smart Casual Dress Code.
         <br>
         - No hats
         <br>
         - No trainers
         <br>
         - No tracksuits
         <br>
         <br>
         * Doorman or management have the right to refuse entry to anyone they feel is not fit for the venue
      </p>
   </div>
</div>
{% endblock %}