{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}
<!-- Menu Page -->
<!-- Menu Carousel -->
<div id="carouselExampleControls" class="carousel slide mt-5" data-ride="carousel" data-interval="10000">
   <div class="carousel-inner slider-div">
      {% for menu in menus %}
      <!-- Link To Stored Menu Images -->
      <div class="carousel-item item{% if forloop.first %} active{% endif %}" data-interval="10000">
         <img class="d-block responsive-menu"
            src="https://res.cloudinary.com/dlqh66keo/image/upload/v1647212522/{{ menu.image }}" alt="First slide">
      </div>
      {% endfor %}
      <!-- Carousel Previous Button -->
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
      </a>
      <!-- Carousel Next Button -->
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
      </a>
   </div>
</div>
<!-- Menu Info -->
<div class="container info-menu">
   <h2>
      Info:
   </h2>
   <p>
      DRY ICE INFO <br>
      <br>
      All our cocktails are made uniquely and some are also served with Dry Ice.
      Dry Ice is safe when handled correctly, so if your drink is served with a straw please use it.
      The Dry Ice in our Porn Star Martini cocktail can be found in the bottom of the glass and if
      there is no straw, please allow time for the dry ice to dissappear and enjoy.
      Please do not handle the dry ice with your hands, instead enjoy the experience.
      If you wish not to have Dry Ice please let a memeber of staff know before ordering.
   </p>
   <p>
      FOOD ALLERGY & INTOLERANCES <br>
      <br>
      We follow good hygiene practice in our kitchen however.
      Due to the wide range of ingredients used in our kitchen there could be a possibility
      of cross contamination by other ingredients.
      Please make a member of staff aware of any dietry requirements before ordering.
   </p>
</div>
{% endblock %}