{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">About Langs</h2>
            <hr>
        </div>
    </div>
    <div class="row text">
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <p>Sittingbourne's best bar and cocktail lounge. 
                Everything you could possibly desire from beers, spirits, cocktails to live events and brunch!
            </p>
            <p>Opening Hours
                <br>
                Monday, Tuesday CLOSED
                <br>
                Wednesday 4PM-LATE
                <br>
                Thursday 4PM-LATE
                <br>
                Friday 4PM-1:30AM
                <br>
                Saturday 2PM-1:30AM
                <br>
                Sunday 2PM-6PM
            </p>
            <p>
                PHONE:
                01795477531
            </p>
        </div>
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <img id="langs-front" src="/media/langs_front.jpeg" alt="Langs Front">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <img id="langs-front" src="/media/langs_front_bar.jpeg" alt="Langs Front Bar">
        </div>
        <div class="col-12 col-lg-6 order-first order-lg-last mb-5 text-center">
            <p>Our front main bar is what welcomes you upon entering the venue. A stylish,
                clean environment with comfortable seating and booths. 
                As you progress further back into the venue you will be met with more seating,
                a dance floor and our smaller cocktail bar.
            </p>
        </div>
    </div>
    <div class="row text">
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <p>A wide variety of drinks are available from beers to cocktails.
                Please see our <a href="{% url 'menu' %}" class="text-muted">Menu's</a> for more information on drinks.</p>
        </div>
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <img id="langs-front" src="/media/langs_bar_drinks.jpeg" alt="Langs drinks">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <img id="langs-front" src="/media/langs_brunch.jpeg" alt="Langs Brunch">
        </div>
        <div class="col-12 col-lg-6 order-first order-lg-last mb-5 text-center">
            <p>Our brunch's are famous for hitting the spot with delicious bites and pornstar martini cocktail trees!</p>
        </div>
    </div>
    <div class="row text">
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <p>We have a very large variety of tasty cocktails available including pornstar martini cocktail trees.</p>
        </div>
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <img id="langs-front" src="/media/langs_cocktail_tree.jpeg" alt="Langs Cocktail Tree">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5 text-center">
            <img id="langs-front" src="/media/langs_garden.jpeg" alt="Langs Garden">
        </div>
        <div class="col-12 col-lg-6 order-first order-lg-last mb-5 text-center">
            <p>To the rear of the venue you will find our garden.
                You will find comfortable lounge seating an outside bar, smoking area and outside events.
                Our outdoor seating area has heating and overhead protection so even if the weather does feel like partying, you can still carry on!
            </p>
        </div>
    </div>
</div>
{% endblock %}